<button class="menu-icon" onclick="toggleMenu()" style="align-items: start">
    <i class="fas fa-bars"></i>
  </button>
  
<nav class="navigation" id="navigation-menu">
    <a href="/create-announcement">Home</a>
    <a href="/doctor-appointment">Appointments</a>
    <a href="/Requests">Requests</a>
    <a href="/Notifications">Notifications</a>
</nav>  