<footer>
    <h2>hospital contact info</h2>
    <p><i class="fas fa-phone"></i> phone : ##########</p>
    <p><i class="fas fa-envelope"></i> email : -----@----.----</p>
    <p>to update your information please contact us or visit us</p>
  </footer>
</body>
<script src="js/main.js"></script>
</html>