<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" rel="stylesheet">
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <% if (locals.stylesheetName === 'lab&radiology') { %>
      <link rel="stylesheet" href="/css/lab&radiology.css" />
    <% } else { %>
      <link rel="stylesheet" href="/css/<%= stylesheetName %>.css" />
    <% } %>
  </head>
  <body>
    <div class="header">
      <div class="header-content-logo">
        <img src="images/logo.png" alt="Logo" class="logo" />
        <h1 class="header-title"><%= headerTitle %></h1>
      </div>
      <div>
        <% if (title === 'Reception Appointments' || title === 'Reception Bills' || title === 'Patient Profile Reception') { %>
        <a href="/reception-add-patient" class="logout-button"
          >add patient
          <span
            ><i
              class="fa-regular fa-square-plus"
              style="color: #ffffff"
            ></i></span
        ></a>
        <% } %>
        
        <% if ((headerTitle === 'Patient Profile' || headerTitle === 'Appointments' || headerTitle === 'Medical Records' || headerTitle === 'Medication' || headerTitle === 'Health statistics') && user && user.Role === 6) { %> <a href="/patient-profile-reception" class="logout-button">Back</a> <% } %>
        <% if ((headerTitle === 'Medical Records' || headerTitle === 'Medication' || headerTitle === 'Health statistics') && user && user.Role === 2) { %> <a href="/doctor-appointment" class="logout-button">Back</a> <% } %>
        <% if ((headerTitle === 'Medical Records' || headerTitle === 'Medication' || headerTitle === 'Health statistics' || headerTitle === 'Prescription Management' || headerTitle === 'Prescription Pharmacy' || headerTitle === 'Announcement') && user && user.Role === 4) { %> <a href="/pharmacy-home-page" class="logout-button">Back</a> <% } %>
        <% if (typeof user !== 'undefined' && user) { %>
        <a href="/logout" class="logout-button">Logout</a>
        <% } %>
      </div>
    </div>
    <hr />
  </body>
</html>
