<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="stylesheet" href="css/<%= stylesheetName %>.css" />
  </head>
  <body>
    <div class="header">
      <div class="header-content-logo">
        <img src="images/logo.png" alt="Logo" class="logo" />
        <h1 class="header-title"><%= headerTitle %></h1>
      </div>
      <div>
        <% if (title === 'Reception Appointments' || title === 'Reception Bills') { %>
        <a href="/reception-add-patient" class="logout-button"
          >add patient
          <span
            ><i
              class="fa-regular fa-square-plus"
              style="color: #ffffff"
            ></i></span
        ></a>
        <% } %>
        <!-- Conditional Logout Button -->
        <% if (typeof user !== 'undefined' && user) { %>
        <a href="/logout" class="logout-button">Logout</a>
        <% } %>
      </div>
    </div>
    <hr />
  </body>
</html>
