<button class="menu-icon" onclick="toggleMenu()" style="align-items: start">
    <i class="fas fa-bars"></i>
  </button>
  
  <nav class="navigation" id="navigation-menu">
    <a href="/lab/add">Add</a>
    <a href="/lab/update">Update</a>
    <a href="/lab/available-tests">Available Tests</a>
    <a href="/lab/results">Results</a>
    <a href="/lab/notifications">Notifications</a>
  </nav>