<button class="menu-icon" onclick="toggleMenu()" style="align-items: start">
  <i class="fas fa-bars"></i>
</button>

<nav class="navigation" id="navigation-menu">
  <a href="/patient-profile">Profile</a>
  <a href="/appointments">Appointments</a>
  <a href="/medicalRecords">Medical records</a>
  <a href="#">Health statistics</a>
  <a href="/medication">Medication</a>
  <% if (user.Role === 7) { %>
  <a href="/patient-Bills">Your Bills</a>
  <% } %>
</nav>
