<button class="menu-icon" onclick="toggleMenu()" style="align-items: start">
    <i class="fas fa-bars"></i>
  </button>
  
  <nav class="navigation" id="navigation-menu">
    <a href="/prescriptions-dashbard">Prescription Management</a>
    <a href="/order-management">Inventory Management</a>
    <a href="/create-announcement">Announcement</a>
    </nav>  