<button class="menu-icon" onclick="toggleMenu()" style="align-items: start">
    <i class="fas fa-bars"></i>
  </button>
  
  <nav class="navigation" id="navigation-menu">
    <a href="/rad/add">Add</a>
    <a href="/rad/update">Update</a>
    <a href="/rad/available-scans">Available Scans</a>
    <a href="/rad/results">Results</a>
    <a href="/rad/notifications">Notifications</a>
  </nav> 