<button class="menu-icon" onclick="toggleMenu()" style="align-items: start">
  <i class="fas fa-bars"></i>
</button>

<nav class="navigation" id="navigation-menu">
  <a href="#">Profile</a>
  <a href="#">Appointments</a>
  <a href="#">Bills</a>
</nav>
