<button class="menu-icon" onclick="toggleMenu()" style="align-items: start">
  <i class="fas fa-bars"></i>
</button>

<nav class="navigation" id="navigation-menu">
  <a href="/patient-profile-reception">Patient</a>
  <a href="/reception-appointment">Appointments</a>
  <a href="/receptionBills">Bills</a>
</nav>
