<div class="search-container" style="background-color: white; border: none;" >
  <input
    type="text"
    id="searchInput"
    class="search-bar"
    placeholder="Search By National ID..."
    
  />
</div>
