<%- include('../partials/header', {title: 'Appointments', stylesheetName: 'styles', headerTitle: 'Appointments' }) %> --%>
<%- include('../partials/DoctorNav') %>

<div class="container_Doctor_Notifications">
  <div class="left-panel">
      <div class="info-box">
          <div class="info-box_header">Header</div>
          <div class="info-box_body">Body</div>
      </div>
      <div class="info-box">
          <div class="info-box_header">Header</div>
          <div class="info-box_body">Body</div>
      </div>
      <div class="info-box">
          <div class="info-box_header">Header</div>
          <div class="info-box_body">Body</div>
      </div>
      <div class="info-box">
          <div class="info-box_header">Header</div>
          <div class="info-box_body">Body</div>
      </div>
      <div class="info-box">
          <div class="info-box_header">Header</div>
          <div class="info-box_body">Body</div>
      </div>
  </div>
  <div class="right-panel">
      <div class="emergency-header">Emergency cases</div>
      <div class="info-box">
          <div class="info-box_header">Header</div>
          <div class="info-box_body">Body</div>
      </div>
      <div class="info-box">
          <div class="info-box_header">Header</div>
          <div class="info-box_body">Body</div>
      </div>
      <div class="info-box">
          <div class="info-box_header">Header</div>
          <div class="info-box_body">Body</div>
      </div>
  </div>
</div>
