<%- include('../partials/header', {title: 'Update Password' ,stylesheetName: 'styles' , headerTitle: 'Galala hospital system' }) %>

<div class="container">
    <h1 class="login-title">Update Password</h1>
    <% if (typeof errorMessage !== 'undefined' && errorMessage) { %>
        <p class="error-message"><%= errorMessage %></p>
      <% } else { %>
        <p class="error-message no-error"></p>
      <% } %>
    <form action="/update-password" method="POST" class="login-form">
      <label for="old-password">old Password</label>
      <input type="password" id="oldPassword" name="oldPassword" required class="text-input">
  
      <label for="newPassword">New Password</label>
      <input type="password" id="newPassword" name="newPassword" required class="text-input">

      <label for="confirmPassword">Confirm Password</label>
      <input type="password" id="confirmPassword" name="confirmPassword" required class="text-input">
  
      <button type="submit" class="login-btn">UpdatePassword</button>
    </form>
    <p class="info-text">if you forget your password please call: ##########</p>
  </div>
  <div class="images-container">
    <img src="/images/headphones_login.svg" class="left-image" alt="Left Decorative Image">
    <img src="/images/BlueMinimalist_login.png" class="right-image" alt="Right Decorative Image">
  </div>  
</body>
</html>