<%- include('../partials/header', { title: 'Order Management', stylesheetName:
'styles', headerTitle: 'Order Management' }) %>
<div class="content-body">
    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Date</th>
            <th>expiration dates</th>
            <th>Quantity</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>John Doe</td>
            <td>mm/dd/yyyy</td>
            <td>mm/dd/yyyy</td>
            <td>100</td>
            <td>avil..</td>
          </tr>
        </tbody>
      </table>
      <h1>Request Additional Stock</h1>
      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Code</th>
              <th>Quantity</th>
              <th>Priority</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>John Doe</td>
              <td>15sdc6</td>
              <td>5566</td>
              <td>Highe</td>
              <td><button type="button" class="btn-save">Cancle</button></td>
            </tr>
          </tbody>
        </table>
    </div>